
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#aboutme">About</a></li>
							<li><a href="#blogs"> Client, Blog, and Articles</a></li>
							<li><a href="#subject">Subjects</a></li>
							<li><a href="#contact-me">Contact</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1 style="color:#ffffff;font-family: 'Changa', sans-serif;font-size:4em;text-align:center;">Glavy Law</h1>
							<div class="title-div">
								<%= image_tag("bglavyhome.jpg", :style => "width: 80%;") %>
								<h2 style="color:#ffffff;font-family: 'Changa', sans-serif;">Bernard (Bud) Glavy<h2>
	              <h3 style="color:#ffffff;font-family: 'Changa', sans-serif;">Attorney at Law</h3>
							  <h3 style="color:#ffffff;font-family: 'Changa', sans-serif;"><a href="tel:+12108801777">210-880-1777</a></h3>
							</div>
							<a href="#contact-me" class="button primary icon fa-download" style="float:right;">Contact Me</a>
						</div>
					</section>

				<!-- About Me -->
					<section id="aboutme" class="wrapper style2 spotlights" style="color:white;">
						<section>
							<a href="#" class="image"><%= image_tag("bud1.jpg") %></a>
							<div class="content">
								<div class="inner">
									<h2>About</h2>
									<p>After 30 success filled years working for someone else, I am ready to work for you. I can apply
										my knowledge, skills and abilities, my Texas Board of Legal Specialization certification in
										Labor and Employment Law*, and my consultation and litigation experience to solve your civil
										law issue. Contact me and I can help.
									</p>
									<h2>Professional Associations:</h2>
									<ul>
									  <li>State Bar of Texas</li>
									  <li>American Bar Association</li>
									  <li>San Antonio Bar Association</li>
									</ul>
									<h2>Licenses</h2>
									<ul>
									  <li>Supreme Court of Texas</li>
									  <li>U.S. District Court for Western District of Texas</li>
									  <li>U.S. Court of Appeals for the Fifth Circuit</li>
									  <li>U.S. Court of Appeals for the Federal Circuit</li>
									</ul>
									<h2>Certification</h2>
									<ul>
									  <li>Texas Board of Legal Specialization in Labor and Employment Law</li>
									</ul>
									<%= image_tag("board.jpg", :style => "width: 50%;") %>
								</div>
							</div>
						</section>
					</section>

				<!-- Blogs -->
					<section id="blogs" class="wrapper style3 fade-up">
						<div class="inner">

								<h2> Client, Blog, and Articles</h2>
								<h3 style="text-align: center;">For Public/ Client Information</h3>
								<div class="iframe-div" style="text-align: center;">
									<iframe src="https://drive.google.com/file/d/1Eift2pOSMkRbYc6c76ukNPWQJ-eD1QVQ/preview" width="50%" height="550"></iframe>
								</div>
								<!--

								<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>Lorem ipsum amet</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>Aliquam sed nullam</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>Sed erat ullam corper</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>Veroeros quis lorem</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-chain"></span>
									<h3>Urna quis bibendum</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>Aliquam urna dapibus</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
							</div>	-->
						</div>
					</section>


				<!-- subject -->
					<section id="subject" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Subjects</h2>
							<p style="color:white;">I can advise you on employment matters, basic wills and the ancillary documents including
								“Directives to Physicians,” probate, guardianships, and some family law. Also, I can zealously
								represent you in administrative proceedings and court, state or federal. I am available to assist
								military veterans and their families facing difficulties due to their benefits determinations. I can
								help federal sector employees facing adverse actions or experiencing discrimination or retaliation.
							</p>
							<!--
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>Lorem ipsum amet</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>Aliquam sed nullam</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>Sed erat ullam corper</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>Veroeros quis lorem</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-chain"></span>
									<h3>Urna quis bibendum</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>Aliquam urna dapibus</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>-->
						</div>
					</section>
				<!-- contact-us -->
					<section id="contact-me" class="wrapper style3 fade-up" style="color:white;">
						<div class="inner">
							<h2>Contact</h2>
							<p>Call or email to set an appointment. My office in the Colonnade at I-10 and Wurzbach Rd just outside Loop 410.</p>
							<div class="split style1">
								<section>
									<div id="map"></div>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>9901 IH 10 West Suite 800<br />
											San Antonio, TX 78230</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:bud.glavy@glavylaw.com">bud.glavy@glavylaw.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span><a href="tel:+12108801777">210-880-1777</a></span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Glavy Law. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>
