<!DOCTYPE html>
<html>
<head>
  <title>Glavy Law</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=0.55, user-scalable=no">
  <meta name="keywords" content="law, lawyer, attorney, budy glavy, glavy, san antonio, texas, lawsuit, sue, court, litigation, legal, contracts, contract, law firm,consultation, case">
</head>
<body>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi1VZ5IJg2Jfzp71qHOFh019vIeNPRaO0&callback=initMap">
    </script>
</body>
</html>
