<!DOCTYPE html>
<html>
<head>
  <title>Glavy Law</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbJpiGAsYN4bcgWDOzw8i8UKjTbfMAP94&callback=initMap">
    </script>
</body>
</html>
